.Quote {
  border: 1px solid red;

  .Item {
    border: 1px dotted blue;
  }

  .Item__quote {
    margin: 0;
  }
  .Item__localRow {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .Item__local {
    color: #787878;
    margin: 0;
  }
}
